main {
    padding: 20px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
}

main h1 {
    text-decoration: underline;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

main h2 {
    margin-top: 30px;
    text-decoration: underline;
}